@import "@/assets/css/variable.scss";
@mixin page_width {
    width: $main_page_width;
    margin: 2rem auto;
}

@mixin btn_basic {
    transition: all 0.4s;
    position: relative;
    background: linear-gradient(to right,
            rgb(10, 182, 255),
            rgb(41, 123, 255),
            rgb(102, 209, 255),
            rgb(94, 152, 245));
    background-size: 300%;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}

@mixin input_box {
    background-color: rgb(50, 53, 60);
    box-shadow: none;
    border-radius: 3px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 0.3s;
    margin-right: 1rem;
}

@mixin nav {
    position: relative;
    background-color: $background_color_dark !important;
    box-shadow: 0px 0.2rem 1.9rem rgb(0, 0, 0);
}

@mixin input_basis {
    background-color: rgb(50, 53, 60);
    box-shadow: none;
    border-radius: 1px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 0.3s;
}

@mixin starAndFollower {
    position: absolute;
        padding: 0.2rem;
        width: 3rem;
        height: 3rem;
        max-width: 10rem;
        max-height: 10rem;
        line-height: 3rem;
        text-align: center;
        background: linear-gradient(-60deg,
                rgba(41, 123, 255, 0.8),
                rgba(102, 209, 255));
        border-radius: 50%;
        color: #fff;
        border: none;
        box-shadow: 0 0 0.5rem $manager-primary-card-shadow;
        cursor: pointer;
        z-index: 1;
        transition: all 0.5s;
        overflow: hidden;
}