// 文字变量（text variable）
$h2_font_size: 4.8rem;
$h3_font_size: 2rem;
$shadow_font: 0 0.2rem 0.5rem #000;
$light_font_color: var(--font--color, rgb(253, 253, 253));
$dark_font_color: #2c3e50;
$title_font_size: 2.4rem;

// main_page_header
$title_margin_top: 0.8rem;
$background_color_dark: var(--bg-color, rgb(23, 23, 25));
$nav_color_dark: var(--nav-color, rgba(23, 23, 25, 0.93));

// article_showing_page
$article_bgc_color_dark: rgb(18, 15, 25);
$article_font_color_dark: var(--article-font-color, rgb(233, 223, 204));
$article_border_dark: rgb(46, 46, 46);
$article_box_shadow: 0;
$article_user_card_padding: 1.5rem;
$article_card_bgc_color: var(--article-card-color, rgb(18, 15, 25));
$article_card_shadow: var(--shadow-card,rgb(40, 44, 52));
$article_card_shadow_hover: var(--shadow-card_hover, rgba(40, 44, 52, 0.61));
$article_tip_card: var(--tip-card, #282c34);

// 页面变量
$main_page_width: 115rem;

// 后台系统
$manager-primary-color: rgb(106, 210, 120);
$manager-primary-card-color: var(--ark-card-color, rgb(61, 61, 61));
$manager-primary-card-shadow: var(--ark-card-shadow, rgb(2, 2, 2));