// 文字变量（text variable）
$h2_font_size: 4.8rem;
$h3_font_size: 2rem;
$shadow_font: 0 0.2rem 0.5rem #000;
$light_font_color: rgb(253, 253, 253);
$title_font_size: 2.4rem;

// main_page_header
$title_margin_top: 0.8rem;
$background_color_dark: rgb(23, 23, 25);
$nav_color_dark: rgba(23, 23, 25, 0.93);

// article_showing_page
$article_bgc_color_dark: rgb(18, 15, 25);
$article_font_color_dark: rgb(233, 223, 204);
$article_border_dark: rgb(46, 46, 46);
$article_box_shadow: 0;
$article_user_card_padding: 1.5rem;
$article_card_bgc_color: rgb(18, 15, 25);

// 页面变量
$main_page_width: 115rem;